$org-white: #fff7e6; //for people with eys problem

:root {
  --primary-light: #64b5f6;
  --primary-main: #2196f3;
  --primary-dark: #1976d2;
  --primary-contrastText: #fff;
  --primary-selected: #6588b2; //not injected in muiThemeBuild function but going to use inside comp module scss or sx

  --secondary-light: #adb5bd;
  --secondary-main: #6c757d;
  --secondary-dark: #495057;
  --secondary-contrastText: #fff;

  --success-light: #81c784;
  --success-main: #4caf50;
  --success-dark: #388e3c;
  --success-contrastText: #fff;

  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  --error-contrastText: #fff;

  --warning-light: #ffd54f;
  --warning-main: #ffc107;
  --warning-dark: #ffa000;
  --warning-contrastText: #fff;

  --info-light: #64b5f6;
  --info-main: #2196f3;
  --info-dark: #1976d2;
  --info-contrastText: #fff;

  --background: #ffffff;

  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);

  --action-active: rgba(0, 0, 0, 0.54);
  --action-hover: rgba(0, 0, 0, 0.04);
  --action-selected: rgba(0, 0, 0, 0.08);
  --action-disabled: rgba(0, 0, 0, 0.26);
  --action-disabledBackground: rgba(0, 0, 0, 0.12);
  --action-focus: rgba(0, 0, 0, 0.12);

  // UKIC default color overides either here or inside component module scss file
  //https://design.sis.gov.uk/styles/colour

  // --ic-button-primary-background: var(--primary-main);  //this will change only button color
  // --ic-button-destructive-background: var(--error-main); //this will change only button color
  // --ic-color-background-destructive-hover: var(--error-dark) // this will change dest hover color

  --ic-blue-800: var(--primary-main); // this will change primary blue color
  --ic-blue-1100: var(--primary-dark); //will change button hover color
  --ic-red-800: var(--error-main);
  --ic-red-1100: var(--error-dark);
  --ic-green-800: var(--success-main);
  --ic-green-1100: var(--success-dark);
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-light: #e3f2fd;
  --primary-main: #022b67;
  // --primary-main: #007bff;
  --primary-dark: #0060cc;
  --primary-contrastText: #fff; //changed to white
  --primary-selected: #6588b2; //not injected in muiThemeBuild function but going to use inside comp module scss or sx

  --secondary-light: #495057;
  --secondary-main: #212529;
  --secondary-dark: #121416;
  --secondary-contrastText: rgba(0, 0, 0, 0.87);

  --success-light: #43a047;
  --success-main: #4caf50;
  --success-dark: #81c784;
  --success-contrastText: rgba(0, 0, 0, 0.87);

  --error-light: #e53935;
  --error-main: #f44336;
  --error-dark: #ef5350;
  --error-contrastText: #fff; //changed to white rgba(0, 0, 0, 0.87);

  --warning-light: #ffb300;
  --warning-main: #ffc107;
  --warning-dark: #ffd54f;
  --warning-contrastText: rgba(0, 0, 0, 0.87);

  --info-light: #1e88e5;
  --info-main: #2196f3;
  --info-dark: #64b5f6;
  --info-contrastText: rgba(0, 0, 0, 0.87);

  --background: #010f27;

  --text-primary: #ffffff;
  --text-secondary: #fff;
  --text-disabled: rgba(255, 255, 255, 0.5);

  --action-active: #fff;
  --action-hover: rgba(255, 255, 255, 0.08);
  --action-selected: rgba(255, 255, 255, 0.08);
  --action-disabled: rgba(255, 255, 255, 0.7);
  --action-disabledBackground: rgba(163, 164, 168, 0.84);
  --action-focus: rgba(255, 255, 255, 0.12);
}
