// add this file in main.tsx

/**** Basic css reset *****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Smooth color transition */
html {
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
